{% set kafka = salt['grains.filter_by']({
    'RedHat': {
        'version': '0.8.1.1',
        'scala_version': '2.10',
        'checksum': 'f3f7446788d9a06f6bfaba72912bd8cf',
    },
    'Debian': {
        'version': '0.8.1.1',
        'scala_version': '2.10',
        'checksum': 'f3f7446788d9a06f6bfaba72912bd8cf',
    },
}, merge=salt['pillar.get']('kafka.lookup')) %}
